/*******************************************************
*******************************************************
*****  ***********************************************
*****  




 ,ggg, ,ggg,_,ggg,                                          ,ggg, ,ggg,_,ggg,                                                       
dP""Y8dP""Y88P""Y8b                                        dP""Y8dP""Y88P""Y8b              ,dPYb,                                  
Yb, `88'  `88'  `88                                        Yb, `88'  `88'  `88              IP'`Yb                                  
 `"  88    88    88                         gg              `"  88    88    88              I8  8I                                  
     88    88    88                         ""                  88    88    88              I8  8bgg,                               
     88    88    88  gg      gg    ,g,      gg     ,gggg,       88    88    88    ,gggg,gg  I8 dP" "8   ,ggg,    ,gggggg,    ,g,    
     88    88    88  I8      8I   ,8'8,     88    dP"  "Yb      88    88    88   dP"  "Y8I  I8d8bggP"  i8" "8i   dP""""8I   ,8'8,   
     88    88    88  I8,    ,8I  ,8'  Yb    88   i8'            88    88    88  i8'    ,8I  I8P' "Yb,  I8, ,8I  ,8'    8I  ,8'  Yb  
     88    88    Y8,,d8b,  ,d8b,,8'_   8) _,88,_,d8,_    _      88    88    Y8,,d8,   ,d8b,,d8    `Yb, `YbadP' ,dP     Y8,,8'_   8) 
     88    88    `Y88P'"Y88P"`Y8P' "YY8P8P8P""Y8P""Y8888PP      88    88    `Y8P"Y8888P"`Y888P      Y8888P"Y8888P      `Y8P' "YY8P8P
                                                                                                                                    




***********************************************
*******************************************************
*******************************************************
*******************************************************
*******************************************************
*******************************************************
*******************************************************
*******************************************************/



/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,200');


*{
    margin: 0;
    border: 0;
    padding: 0;
}


h1 {
    font-family: 'Nunito', sans-serif;
    color:white;
    font-weight: 600;
}

h4 {
    font-family: 'Nunito', sans-serif;
    color:#a72ce7;
    font-weight: 200;
}

p {
    font-family: 'Nunito', sans-serif;
    color:#d4d4d4;
    font-weight: 400; 
}


body {
    background-color: #373737;
    overflow: hidden;
    background-repeat: no-repeat;
}



/*INDEX PAGE*/

#title_intro{
    margin-top: 20%;
    text-align: center;
}

#intro_text{
    text-align: center;
}

.intro_play{
    
    border:1px solid black;
    padding:10px 20px;
    background-image: linear-gradient(to bottom right,#2bcbf7, #a72ce7);
    border-radius: 30px;
    font-size: 35px;
    color: white;
    margin-top: 30px;
    margin-left: calc(50% - 101px);
    outline: none;
}

.btn{
    padding:10px 20px;
    background-image: linear-gradient(to bottom right,#2bcbf7, #a72ce7);
    border-radius: 30px;
    font-size: 35px;
    color: white;
}



/*Navbar Principal top*/
    
#menu {
    width: 100%;
    overflow: hidden;  
    background-color: #EBEBEB;
    box-shadow: 0px 5px 10px;
}

#bpm {
    width: 50%;
    float: left;
}

#bpm button {
    width: 21%;
    background-color: black;
    border-radius: 7px;
    margin: 12px 10%;
    float: right;
}

#bpm input {
    width: 45px;
    margin: 10px 0 10px 12px;
    float: left;
    background-color: transparent;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
}

#bpm h4 {
    float: left;
    margin: 14px 20px 14px 0;
    font-size: 15px;
}

.topnav {
  overflow: hidden;
    color: #242424;
    width: 50%;
    float: left;
}

a .btn{
    font-size: 20px;
}

.topnav a {
  color:black;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
}

.topnav .icon {
  display: none;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}



/*BACK NAVBAR*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5a5a5a;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
    margin-left: 10%;
}

li a #img_door {
    width: 10%;
    padding-left: 5px;
}
li a {
    font-family: 'Nunito', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*.active {
    background-image: linear-gradient(to top right,#2bcbf7, #a72ce7);
}*/

.home{
    background-image: url(../imgs/icon_touchpad.svg);
        width: 10%;
    background-size: contain;
    background-repeat: no-repeat;
}

.active{
    background-image: url(../imgs/icon_touch.svg);
        width: 10%;
    background-size: contain;
    background-repeat: no-repeat;
}







/*MEDIA QUERIES*/
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

