/*******************************************************
*******************************************************
*****  ***********************************************
*****  




 ,ggg, ,ggg,_,ggg,                                          ,ggg, ,ggg,_,ggg,                                                       
dP""Y8dP""Y88P""Y8b                                        dP""Y8dP""Y88P""Y8b              ,dPYb,                                  
Yb, `88'  `88'  `88                                        Yb, `88'  `88'  `88              IP'`Yb                                  
 `"  88    88    88                         gg              `"  88    88    88              I8  8I                                  
     88    88    88                         ""                  88    88    88              I8  8bgg,                               
     88    88    88  gg      gg    ,g,      gg     ,gggg,       88    88    88    ,gggg,gg  I8 dP" "8   ,ggg,    ,gggggg,    ,g,    
     88    88    88  I8      8I   ,8'8,     88    dP"  "Yb      88    88    88   dP"  "Y8I  I8d8bggP"  i8" "8i   dP""""8I   ,8'8,   
     88    88    88  I8,    ,8I  ,8'  Yb    88   i8'            88    88    88  i8'    ,8I  I8P' "Yb,  I8, ,8I  ,8'    8I  ,8'  Yb  
     88    88    Y8,,d8b,  ,d8b,,8'_   8) _,88,_,d8,_    _      88    88    Y8,,d8,   ,d8b,,d8    `Yb, `YbadP' ,dP     Y8,,8'_   8) 
     88    88    `Y88P'"Y88P"`Y8P' "YY8P8P8P""Y8P""Y8888PP      88    88    `Y8P"Y8888P"`Y888P      Y8888P"Y8888P      `Y8P' "YY8P8P
                                                                                                                                    




***********************************************
*******************************************************
*******************************************************
*******************************************************
*******************************************************
*******************************************************
*******************************************************
*******************************************************/
/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,200');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito_ExtraLight;
    src: url(../fonts/Nunito-ExtraLight.ttf);
}

@font-face {
    font-family: Nunito_Regular;
    src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito_SemiBold;
    src: url(../fonts/Nunito-SemiBold.ttf);
}

body {
    background-color: #252c3b;
    /*overflow: hidden;*/
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #EBEBEB;
}

::-webkit-scrollbar-thumb {
    background-color: #2bcbf7;
    background-image: linear-gradient(#2bcbf7, #a72ce7);
}

h1 {
    font-family: Nunito_SemiBold;
    color: white;
}

h4 {
    font-family: Nunito_ExtraLight;
    color: #a72ce7;
}

p {
    font-family: Nunito_Regular;
    color: #d4d4d4;
}

/*INDEX PAGE*/
#title_intro {
    margin: 12% auto 30px auto;
    display: block;
}

#intro_text {
    text-align: center;
}

#intro_play {
    font-family: Nunito_Regular;
    background-color: #2bcbf7;
    padding: 15px 30px;
    border-radius: 30px;
    color: #252c3b;
    margin-top: 30px;
    margin-left: calc(50% - 87.5px);
    outline: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-in-out;
}

#intro_play:hover {
    cursor: pointer;
    background-color: #d4d4d4;
}

.btn {
    padding: 10px 20px;
    background-image: linear-gradient(to bottom right, #2bcbf7, #a72ce7);
    border-radius: 30px;
    font-size: 35px;
    color: white;
}

/*NAVBAR TOP*/
#menu {
    width: 100%;
    overflow: hidden;
    background-color: #EBEBEB;
    box-shadow: 0px 5px 10px;
}

#logo {
    width: 15%;
    margin: 10px 50px;
    float: left;
}

#logo img {
    width: 100%;
}

#left {
    width: 50%;
    float: left;
}

#myTopnav {
    overflow: hidden;
    color: #242424;
    width: 50%;
    float: right;
}

#myTopnav button {
    font-size: 1.2rem;
    background-image: linear-gradient(to bottom right, #2bcbf7, #a72ce7);
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 15px 30px;
    border-radius: 25px;
    transition: ease-in-out .5s color;
    margin: 15px 20px;
}

#myTopnav button:hover {
    color: #353E54;
    cursor: pointer;
}

#myTopnav #record_btn:hover {
    color: #ff3939;
    cursor: pointer;
}

.topnav .icon {
    display: none;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

#bpm {
    background-image: none;
    width: 21%;
    background-color: black;
    border-radius: 7px;
    margin: 18px 15px 17px 0;
    float: left;
}

#bpm input {
    width: 45px;
    margin: 10px 0 10px 12px;
    float: left;
    background-color: transparent;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
    color: white;
}

#bpm h4 {
    float: left;
    margin: 14px 20px 14px 0;
    font-size: 15px;
}

/*BACK NAVBAR*/
#nav_back {
    background-color: #353E54;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#nav_back li {
    float: left;
    width: 33.33333333%;
    -webkit-transition: background-color 300ms ease-in-out, color 1s ease-in-out;
    -moz-transition: background-color 300ms ease-in-out, color 1s ease-in-out;
    -o-transition: background-color 300ms ease-in-out, color 1s ease-in-out;
    -ms-transition: background-color 300ms ease-in-out, color 1s ease-in-out;
    transition: background-color 300ms ease-in-out, color 1s ease-in-out;
}

#nav_back li:hover {
    background-color: #2bcbf7;
}

#nav_back li:hover i {
    color: #353E54;
}

#nav_back li a {
    font-family: Nunito_Regular;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav_back i {
    font-size: 1.8rem;
}

.sound i {
    color: white;
}

.home i {
    color: white;
}

.music i {
    color: white;
}

#selected i {
    color: #2bcbf7;
}

#bateria {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

#bateria img {
    width: 20%;
    float: left;
}

#prato1 {
    margin: 60px 2% 0 2%;
}

#tambor1 {
    margin: 160px 3% 0 3%;
}

#tambor2 {
    margin: 160px 3% 0 3%;
}

#prato2 {
    margin: 60px 2% 0 2%;
}

#Timeline {
    width: 90%;
    margin: 80px auto 100px auto;
    height: 80px;
    background-color: #d4d4d4;
    border-radius: 20px;
}

#Time {
    float: left;
    background-color: black;
    margin: 10px;
    border-radius: 20px;
    color: white;
    font-family: Nunito_SemiBold;
    padding: 20px 25px;
}

#Waves {
    width: 90%;
    height: 60px;
    background-color: #4955ff;
    border-radius: 20px;
    float: right;
    margin: 10px;
}

/*CHOOSE INSTRUMENT*/
#pads {
    width: 80%;
    overflow: auto;
    margin: auto;
    margin-bottom: 100px;
}

#instrument {
    width: 380px;
    margin: auto;
    padding: 18px;
    overflow: hidden;
}

#instrument h4 {
    float: left;
    margin: 5px 30px 5px 0;
    font-size: 25px;
}

#select_btn {
    display: none;
    float: left;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#select_btn:hover {
    cursor: pointer;
}

.color_pads {
    background-image: linear-gradient(to bottom right, #2bcbf7, #a72ce7);
    width: 9%;
    height: 100px;
    border-radius: 12px;
    margin-top: 80px;
}

.img_pads {
    width: 40%;
    margin-left: 30%;
    margin-top: 20%;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}